<h1 class="display4">Welcome to Telephone Directory</h1>
<p class="mb-4">This is a Sails.js app for managing Telephone Directory</p>
<a href="/telephones/list" class="btn btn-light">View Directory</a>
<a href="/telephones/add" class="btn btn-light">Add Number</a>